@media screen 
  and (min-device-width: 1200px)  {
 body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h1{
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
.header-desktop{
	background-color: #111;
}
.header-mobile{
	display: none;
 }
.logo{
	color: #60f542;
}
.navbar{
	background-color: #111;
}
li{
	list-style-type: none;
}
a{
	color: white;
}
a:hover{
	color: #60f542;
	text-decoration: none;
}
.hamburger-menu{
	display: none;
}
.nav_form_mob{
	display: none;
}
.nav_input{
	width: 200px;
}
.nav_form>button{
  float: left;
  width: 20%;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #60f542;
  color: white;
  font-size: 17px;
   border: 1px solid #f7f7f7; 
  border-left: none;
  cursor: pointer;
}
.nav_form>input{
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 17px;
   border: 1px solid #999; 
  float: left;
  width: 80%;
  background: #f7f7f7;
}
.search:hover{
	background-color: #60f542;
}
.fa-map-marker-alt, .fa-key, .fa-shopping-cart{
	font-size: 22px;
}
i{
	color: white;
}
i:hover{
	color: #60f542;
}
.menu{
	background-color: #f7f7f7;
}
.menu a{
	color: #999999;
}
.menu a:hover{
	color: #20a842;
	background-color: #60f542;
	border-radius: 3px;
}
.nav_item{
	display: none;
	background-color: #f7f7f7;
	z-index: 1000;

}
.nav_item>li{
padding-right: 40px;
}
.nav_item>li>a{
color: #999999;
margin-left: -30px;
}
.nav_item>li>a:hover{
	background-color: #f7f7f7;
	color: #20a842;
	border-bottom: 1px solid #20a842;
}
.bike_menu:hover .nav_item{
	display: block;
	position: absolute;
	background-color: #f7f7f7;
}
.wrapper {
	height: 350px;
	margin: 100px auto 0;
	position: relative;
	width: 950px;
}
.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	text-align: center;
}
.wrapper .controls {
	left: 50%;
	margin-left: -58px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 12px;
	border-radius: 50%;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}
.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #20a842;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}
.btn{
	background-color: #60f542;
}
.bike_text{
	white-space: pre-wrap;
}
.slide_icon{
	color: white;
	margin-left: 7px;
}
.stocks_mob{
	display: none;
}
 .email{
	margin-top: 5%;
} 
.email_btn{
	background-color: #60f542;
	border-radius: 5px;
	width: 120px;
}
footer{
	height: 50vh;
	background-image: url(../image/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.menu_footer{
	margin-top: 46%;
}
.menu_icon{
	margin-top: 46%;
}
.footer-icon{
	font-size: 25px;
}
}
@media (max-width: 767.98px){
/* @media only screen 
   and (min-device-width: 576px)  
  and (max-device-width: 767px){ */
 .header-desktop{
 	display: none;
 }
 .menu{
 	display: none;
 }
 .nav{
 	display: none;
 }
 .header-mobile{
 	display: block;
 	background-color: #111;
 	width: 100%;
 }
 li{
 	list-style-type: none;
 }
 #menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;
  position: fixed; 
  top: 85px;
  left: 145px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #999;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  visibility: hidden;
  width: 135px;
  height: 150px;
  left: 20px;
  margin-left: -140px;
  margin-top: 30px;
  margin-bottom: -150px;
  margin-right: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  background-color: #f7f7f7;
  z-index: 1000;
  position: relative;
}
.menu__item {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  color: #60f542;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu_mob{
	display: flex;
	justify-content: center;
	
}
 .nav_form_mob{
	display: inline-block;
	width: 200px;
	margin-left: 270px;
} 
.nav_input{
	width: 200px;
}
.nav_form>button{
  float: left;
  width: 20%;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #60f542;
  color: white;
  font-size: 17px;
   border: 1px solid #f7f7f7; 
  border-left: none;
  cursor: pointer;
}
.nav_form>input{
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 17px;
   border: 1px solid #999; 
  float: left;
  width: 80%;
  background: #f7f7f7;
}
.search:hover{
	background-color: #60f542;
}
.stocks{
	display: none;
}
.stocks_mob{
	width: 100%;
	margin: 0 auto;
	text-align: center;;
}
.btn{
	background-color: #60f542;
}
.email_btn{
	background-color: #60f542;
	border-radius: 5px;
	width: 120px;
}
.email_item{
	display: none;
}
footer{
	height: 50vh;
	background-image: url(../image/banner2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.menu_footer{
	margin-top: 62%;
}
.menu_icon{
	margin-top: 62%;
}
.footer-icon{
	font-size: 25px;
}
.menu_icon{
	list-style-type: none;
}
.menu_footer{
	list-style-type: none;
}
}
