/*@media (min-width: 993px) {*/
body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
h1,h2,h3{
  font-family: "Roboto", sans-serif;
  /*cursor: pointer;*/
}
h2 {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #999999;
}
a {
  color: white;
}
p{
  font-family: "Roboto", sans-serif;
}
.fa-map-marker-alt,
.fa-key,
.fa-shopping-cart {
  font-size: 16px;
  margin-left: 10px;
}
.fa-shopping-cart{
  font-size: 22px;
}
i {
  color: white;
}
i:hover {
  color: #00AF6B;
}
a:hover{
  color: #ff9300;
  text-decoration: none;
}
.btn:hover{
  background-color:#ff9300;
}
.logo:hover {
  background-color: none;
}
.header{
height: 10%;
}
.row-header {
  margin-top: 2rem;
}
.nav{
  padding-left: 0;
}
.menu {
  background-color: white;
}
.menu a {
  color: #999999;
}
.card_link{
  color: white;
}
.card_link:hover{
  text-decoration: none;
}
.nav-link-header:hover{
  background-color: #111!important;
  color:#ff9300;
}
.nav-link-menu:hover{
  background-color: #ff9300!important;
  color: #111;
}
.dropdown-item:hover{
  background-color: #ff9300!important;
}

/*МЕНЮ*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
    padding-top: 0;
    top: 4.2rem;
}
.dropdown-menu > li > a{
  color: #999 !important;
  padding: 1.2rem;
}
.dropdown-menu > li > a:hover{
  color: #111!important;
  background-color: #ff9300;
}


/*страница прокат*/
.hire_img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-image: url(../image/products_two/hire.jpg);
}

.btn-danger{
  background-color: red !important;
}

.bike-one{
  display: none;
  margin-top: 29rem;
  margin-left: 8rem;
  position: absolute;
}

/*Поиск кнопка*/
.bike-one-search{
  display: none;
  margin-top: 26rem;
  margin-left: 8rem;
  position: absolute;
}
.bike-view{
  display: none;
  margin-top: 29rem;
  margin-left: 8rem;
  position: absolute;
}
/*Хиты продаж кнопка*/
.bike-one-hit {
  display: none;
  margin-top: 27rem;
  margin-left: 8rem;
  position: absolute;
}
.card:hover  .bike-one {
  display: block;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}
.card:hover  .bike-one-hit {
  display: block;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}
.card:hover  .bike-one-search {
  display: block;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}
.card:hover{
  z-index: 1000;
  -webkit-transform: scale(1.1,1.1);
  -webkit-transition-timing-function: ease-out;
  /*-webkit-transition-duration: 550ms;*/
  -moz-transform: scale(1.1,1.1);
  -moz-transition-timing-function: ease-out;
  /*-moz-transition-duration: 550ms;*/
  /*height: 350px;*/
  border: 1px solid #999;
}
.btn_cart{
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  color: white !important;
}
.card{
  max-height: 350px;
  border: none;
}
.price{
  font-size: 24px;
}
.header-desktop {
  background-color: #111;
}
.header-desktop > a:hover{
  color: #00AF6B;
}

.header-mobile {
  display: none;
}
.logo {
  color: #60f542;
  font-size: 55px;
}
.logo:hover{
  background-color: #111!important;
}
.logo_two{
  font-size: 55px;
}
.button_search{
  background-color: #00AF6B;
}
li {
  list-style-type: none;
}

.hamburger-menu {
  display: none;
}
.nav_form_mob {
  display: none;
}


#w1-success-0,
#w0-success-0{
  display: none;
}

.card-body{
  padding-bottom:6rem;
}
.btn{
  background-color: #ff9300;
  color: white;
}
/*.btn_cart {*/
/*  background-color: #39cc7a;*/
/*  color:white;*/
/*  position: absolute;*/
/*  top:70%;*/

/*}*/

/*.btn_cart:hover{*/
/*  padding: 10px 15px;*/
/*  !*border-right: solid 20px black;*!*/
/*}*/
.btn-outline-success{
  color:white;
}
.card{
 width: 32%;
}
.hit {
  color: #000000;
  text-decoration: none;
}
.pagination > .active > a{
  color:white;
  background-color: #ff9300;
  border: none;
}
.pagination > .active > a:hover{
  color:white;
  background-color: #ff9300;
}
.pagination >li> a:hover {
  color:white;
  background-color: #ff9300;
}
/*.active >a{*/
/*  background-color: none;*/
/*}*/
.product_image > img{
  width: 410px;
  height: 258px;
}
.btn_product {
  position: absolute;
  /*left: 35%;*/
  background-color: #ff9300;
  margin-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #white;
}
.btn_product:hover{
  color:white;
}
.btn{
  background-color: #ff9300;
}
.btn-modal {
  background-color: #ff9300;
  color: white;
}
.table{
  margin-top: 4rem;
}
/*модальное окно */
.cart-title{
position: absolute;
  left: 5rem;
  top: 2rem;
}
.del-item{
  cursor: pointer;
}

.bike_text {
  white-space: pre-wrap;
}
.slide_icon {
  color: white;
  margin-left: 7px;
}
.stocks_mob {
  display: none;
}


footer {
  height: 70vh;
  background-image: url(../image/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.menu_footer{
  margin-top: 43rem;
}
.menu_footer>li>a{
  text-decoration: none;
  color: white;
}
.footer-icon:hover{
  background-color: #ff9300;
  border-radius: 3px;
}

.footer-icon {
  font-size: 25px;
}

/*админская часть таблица заказов*/
th >a{
  color: #999;
}
td>a{
  color: #999;
}

/*}*/

/*@media (max-width: 991px) {*/
/*  .header-desktop {*/
/*    !*display: none;*!*/
/*  }*/
/*  !*.menu {*!*/
/*  !*  display: none;*!*/
/*  !*}*!*/
/*  !*.nav {*!*/
/*  !*  display: none;*!*/
/*  !*}*!*/
/*  .header-mobile {*/
/*    display: none;*/
/*    !*display: block;*!*/
/*    !*background-color: #111;*!*/
/*    !*width: 100%;*!*/
/*  }*/
/*  li {*/
/*    list-style-type: none;*/
/*  }*/
/*  #menu__toggle {*/
/*    opacity: 0;*/
/*  }*/
/*  !*.menu__btn {*!*/
/*  !*  display: flex;*!*/
/*  !*  align-items: center;*!*/
/*  !*  position: fixed;*!*/
/*  !*  top: 60px;*!*/
/*  !*  left: 35px;*!*/
/*  !*  width: 26px;*!*/
/*  !*  height: 26px;*!*/
/*  !*  cursor: pointer;*!*/
/*  !*  z-index: 1;*!*/
/*  !*}*!*/
/*  !*.menu__btn > span,*!*/
/*  !*.menu__btn > span::before,*!*/
/*  !*.menu__btn > span::after {*!*/
/*  !*  display: block;*!*/
/*  !*  position: absolute;*!*/
/*  !*  width: 100%;*!*/
/*  !*  height: 2px;*!*/
/*  !*  background-color: #999;*!*/
/*  !*}*!*/
/*  !*.menu__btn > span::before {*!*/
/*  !*  content: "";*!*/
/*  !*  top: -8px;*!*/
/*  !*}*!*/
/*  !*.menu__btn > span::after {*!*/
/*  !*  content: "";*!*/
/*  !*  top: 8px;*!*/
/*  !*}*!*/
/*  !*.menu__box {*!*/
/*  !*  display: block;*!*/
/*  !*  visibility: hidden;*!*/
/*  !*  width: 135px;*!*/
/*  !*  height: 150px;*!*/
/*  !*  left: 20px;*!*/
/*  !*  margin-left: -70px;*!*/
/*  !*  margin-top: 30px;*!*/
/*  !*  margin-bottom: -150px;*!*/
/*  !*  margin-right: 0;*!*/
/*  !*  padding: 0;*!*/
/*  !*  list-style: none;*!*/
/*  !*  text-align: left;*!*/
/*  !*  background-color: #f7f7f7;*!*/
/*  !*  z-index: 1000;*!*/
/*  !*  position: relative;*!*/
/*  !*}*!*/
/*  .menu__item {*/
/*    display: block;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    padding-right: 10px;*/
/*    color: #333;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*    text-decoration: none;*/
/*  }*/
/*  .menu__item:hover {*/
/*    color: #60f542;*/
/*  }*/
/*  #menu__toggle:checked ~ .menu__btn > span {*/
/*    transform: rotate(45deg);*/
/*  }*/
/*  #menu__toggle:checked ~ .menu__btn > span::before {*/
/*    top: 0;*/
/*    transform: rotate(0);*/
/*  }*/
/*  #menu__toggle:checked ~ .menu__btn > span::after {*/
/*    top: 0;*/
/*    transform: rotate(90deg);*/
/*  }*/
/*  #menu__toggle:checked ~ .menu__box {*/
/*    visibility: visible;*/
/*    left: 0;*/
/*  }*/
/*  !*.menu_mob {*!*/
/*  !*  display: flex;*!*/
/*  !*  justify-content: center;*!*/
/*  !*}*!*/
/*  .nav_form_mob {*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    margin-left: 270px;*/
/*  }*/
/*  .nav_input {*/
/*    width: 200px;*/
/*  }*/
/*  .nav_form > button {*/
/*    float: left;*/
/*    width: 20%;*/
/*    padding: 10px;*/
/*    padding-bottom: 5px;*/
/*    padding-top: 5px;*/
/*    background: #ff9300;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    border: 1px solid #f7f7f7;*/
/*    border-left: none;*/
/*    cursor: pointer;*/
/*  }*/
/*  .nav_form > input {*/
/*    padding: 10px;*/
/*    padding-bottom: 5px;*/
/*    padding-top: 5px;*/
/*    font-size: 17px;*/
/*    border: 1px solid #999;*/
/*    float: left;*/
/*    width: 80%;*/
/*    background: #f7f7f7;*/
/*  }*/
/*  .search:hover {*/
/*    background-color: #60f542;*/
/*  }*/
/*  .stocks {*/
/*    display: none;*/
/*  }*/
/*  .stocks_mob {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*  }*/
/*  .btn {*/
/*    background-color: #60f542;*/
/*  }*/

/*  .container_mail{*/
/*    margin-top: 50px;*/
/*  }*/


/*  .email_btn {*/
/*    background-color: #60f542;*/
/*    border-radius: 5px;*/
/*    width: 120px;*/
/*  }*/
/*  .email_item {*/
/*    display: none;*/
/*  }*/
/*  footer {*/
/*    height: 100vh;*/
/*    background-image: url(../image/banner2.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*  }*/
/*  .menu_footer {*/
/*    margin-top: 62%;*/
/*  }*/
/*  .menu_icon {*/
/*    margin-top: 62%;*/
/*  }*/
/*  .footer-icon {*/
/*    font-size: 25px;*/
/*  }*/
/*  .menu_icon {*/
/*    list-style-type: none;*/
/*  }*/
/*  .menu_footer {*/
/*    list-style-type: none;*/
/*  }*/
/*}*/
/*.footer-mob{*/
/*  display: none;*/
/*}*/

@media (min-width: 768px) and (max-width: 993px) {
  /*.footer-mob{*/
  /*display: block;*/
  /*}*/
  /*footer {*/
  /*  height: 85vh;*/
  /*}*/
  .card-text{
    height: 63px;
  }
  .hit{
    height: 63px;
  }
  .bike-one{
    display: none;
    margin-top: 26rem;
    margin-left: 6rem;
    position: absolute;
  }
  .bike-view{
    display: none;
    margin-top: 27rem;
    margin-left: 3rem;
    position: absolute;
  }
  .socia{
    width: 35rem;
  }
  /*.search-mob{*/
  /*  display: none;*/
  /*}*/
  .btn-search-md{
    display: none;
  }
  .pagination-md{
/*margin-top: 26rem;*/
    margin-bottom: 15rem;
    margin-right: 20rem;
  }
  }
@media (min-width: 576px) and (max-width: 767px) {
  .header-desktop {
    display: none;
  }
  .menu {
    display: none;
  }
  .nav {
    display: none;
  }
  .header-mobile {
    display: block;
    background-color: #111;
    width: 100%;
  }
  li {
    list-style-type: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: sticky;
    top: 85px;
    left: 60px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /*.nav-sm{*/
  /*  margin-left: -65px;*/
  /*}*/
  /*.nav-icon-sm{*/
  /*  margin-right: -45px;*/
  /*}*/
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #999;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    visibility: hidden;
    width: 135px;
    height: 150px;
    left: 20px;
    right: 100px;
    margin-left: -20px;
    margin-top: 30px;
    margin-bottom: -150px;
    margin-right: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    background-color: #f7f7f7;
    z-index: 1000;
    position: relative;
  }
  .menu__item {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    color: #60f542;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu_mob {
    display: flex;
    justify-content: center;
  }
  .nav_form_mob {
    display: inline-block;
    width: 200px;
    margin-left: 270px;
  }
  .nav_input {
    width: 200px;
  }
  .nav_form > button {
    float: left;
    width: 20%;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #ff9300;
    color: white;
    font-size: 17px;
    border: 1px solid #f7f7f7;
    border-left: none;
    cursor: pointer;
  }
  .nav_form > input {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    border: 1px solid #999;
    float: left;
    width: 80%;
    background: #f7f7f7;
  }
  .search:hover {
    background-color: #60f542;
  }
  .stocks {
    display: none;
  }
  .stocks_mob {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .btn {
    background-color: #60f542;
  }

    .container_mail{
      margin-top: 50px;
    }


  .email_btn {
    background-color: #60f542;
    border-radius: 5px;
    width: 120px;
  }
  .email_item {
    display: none;
  }
  footer {
    height: 100vh;
    background-image: url(../image/banner2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .menu_footer {
    margin-top: 62%;
  }
  .menu_icon {
    margin-top: 62%;
  }
  .footer-icon {
    font-size: 25px;
  }
  .menu_icon {
    list-style-type: none;
  }
  .menu_footer {
    list-style-type: none;

  }
}





/*@media (max-width: 767.98px) {*/
/*!* @media only screen*/
/*   and (min-device-width: 576px)*/
/*  and (max-device-width: 767px){ *!*/
/*.header-desktop {*/
/*  display: none;*/

/*.menu {*/
/*  display: none;*/
/*}*/
/*.nav {*/
/*  display: none;*/
/*}*/
/*.header-mobile {*/
/*  display: block;*/
/*  background-color: #111;*/
/*  width: 100%;*/
/*}*/
/*li {*/
/*  list-style-type: none;*/
/*}*/
/*#menu__toggle {*/
/*  opacity: 0;*/
/*}*/
/*.menu__btn {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  position: fixed;*/
/*  top: 85px;*/
/*  left: 145px;*/
/*  width: 26px;*/
/*  height: 26px;*/
/*  cursor: pointer;*/
/*  z-index: 1;*/
/*}*/
/*.menu__btn > span,*/
/*.menu__btn > span::before,*/
/*.menu__btn > span::after {*/
/*  display: block;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 2px;*/
/*  background-color: #999;*/
/*}*/
/*.menu__btn > span::before {*/
/*  content: "";*/
/*  top: -8px;*/
/*}*/
/*.menu__btn > span::after {*/
/*  content: "";*/
/*  top: 8px;*/
/*}*/
/*.menu__box {*/
/*  display: block;*/
/*  visibility: hidden;*/
/*  width: 135px;*/
/*  height: 150px;*/
/*  left: 20px;*/
/*  margin-left: -140px;*/
/*  margin-top: 30px;*/
/*  margin-bottom: -150px;*/
/*  margin-right: 0;*/
/*  padding: 0;*/
/*  list-style: none;*/
/*  text-align: left;*/
/*  background-color: #f7f7f7;*/
/*  z-index: 1000;*/
/*  position: relative;*/
/*}*/
/*.menu__item {*/
/*  display: block;*/
/*  padding-top: 5px;*/
/*  padding-bottom: 5px;*/
/*  padding-right: 10px;*/
/*  color: #333;*/
/*  font-family: "Roboto", sans-serif;*/
/*  font-size: 14px;*/
/*  font-weight: 600;*/
/*  text-decoration: none;*/
/*}*/
/*.menu__item:hover {*/
/*  color: #60f542;*/
/*}*/
/*#menu__toggle:checked ~ .menu__btn > span {*/
/*  transform: rotate(45deg);*/
/*}*/
/*#menu__toggle:checked ~ .menu__btn > span::before {*/
/*  top: 0;*/
/*  transform: rotate(0);*/
/*}*/
/*#menu__toggle:checked ~ .menu__btn > span::after {*/
/*  top: 0;*/
/*  transform: rotate(90deg);*/
/*}*/
/*#menu__toggle:checked ~ .menu__box {*/
/*  visibility: visible;*/
/*  left: 0;*/
/*}*/
/*.menu_mob {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/*.nav_form_mob {*/
/*  display: inline-block;*/
/*  width: 200px;*/
/*  margin-left: 270px;*/
/*}*/
/*.nav_input {*/
/*  width: 200px;*/
/*}*/
/*.nav_form > button {*/
/*  float: left;*/
/*  width: 20%;*/
/*  padding: 10px;*/
/*  padding-bottom: 5px;*/
/*  padding-top: 5px;*/
/*  background: #ff9300;*/
/*  color: white;*/
/*  font-size: 17px;*/
/*  border: 1px solid #f7f7f7;*/
/*  border-left: none;*/
/*  cursor: pointer;*/
/*}*/
/*.nav_form > input {*/
/*  padding: 10px;*/
/*  padding-bottom: 5px;*/
/*  padding-top: 5px;*/
/*  font-size: 17px;*/
/*  border: 1px solid #999;*/
/*  float: left;*/
/*  width: 80%;*/
/*  background: #f7f7f7;*/
/*}*/
/*.search:hover {*/
/*  background-color: #60f542;*/
/*}*/
/*.stocks {*/
/*  display: none;*/
/*}*/
/*.stocks_mob {*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*  text-align: center;*/
/*}*/
/*.btn {*/
/*  background-color: #60f542;*/
/*}*/

/*  .container_mail{*/
/*    margin-top: 50px;*/
/*  }*/


/*.email_btn {*/
/*  background-color: #60f542;*/
/*  border-radius: 5px;*/
/*  width: 120px;*/
/*}*/
/*.email_item {*/
/*  display: none;*/
/*}*/
/*footer {*/
/*  height: 100vh;*/
/*  background-image: url(../image/banner2.jpg);*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/
/*}*/
/*.menu_footer {*/
/*  margin-top: 62%;*/
/*}*/
/*.menu_icon {*/
/*  margin-top: 62%;*/
/*}*/
/*.footer-icon {*/
/*  font-size: 25px;*/
/*}*/
/*.menu_icon {*/
/*  list-style-type: none;*/
/*}*/
/*.menu_footer {*/
/*  list-style-type: none;*/
/*}*/
/*}*/


/*bikeshop.cr32668.tmweb.ru*/

/*cr32668_yii2*/
/*cr32668_yii21987*/
/*имя базы mmutigde_loc*/
/*username mmutigde_loc*/
/*password mmutigde_loc1987*/